<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/stylesheets/styleHomePage.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Reem+Kufi+Ink&display=swap" rel="stylesheet">
<title>Aktivit치콏</title>

</head>

<div class="navbar">
  <div class="navbar-content">
    <a href="#karticky"><span>Karti캜ky</span></a><a href="#grafy"><span>Grafy</span></a><a href="#pratele"><span>P콏치tel칠</span></a><a href="#autori"><span>Auto콏i</span></a>
  </div>
    <div style="margin-bottom: 10px;"></div>
    <div style="width: 50%; margin: auto; border-bottom: 1px solid #ffffff;"></div>

  
</div>

  
<div id="centercontent">
  <p id="nadpis">AKTIVIT츼콎</p>
  <p id="popis">Webov치 aplikace pro zaznamen치v치n칤 aktivit b캩hem dne</p>

  <div class="button-container">
   <a href="/register" id="registerHRef">
      <button class ="button green-button" onclick="cofirmPolicy()">Registrovat</button>
    </a><a href="/login">
      <button class="button orange-button">P콏ihl치sit se</button>
    </a>
  </div>

  <div class="arrow">
    <a href="#karticky"><span>游밼</span></a>
    
  </div>



    <p id="cojeto">Co Aktivit치콏 d캩l치?</p>
  
    <p id="cojetotext">Aktivit치콏 je webov치 aplikace, kter치 umo쮄갓je u쬴vatel콢m zaznamen치vat si denn칤 aktivity a sledovat sv콢j progres <br>
       pomoc칤 p콏ehledn칳ch graf콢 a anal칳z. Pokroky m콢쬰 u쬴vatel porovn치vat se sv칳mi p콏치teli, <br>co p콏id치v치 na motivaci ke konstantn칤mu zlep코ov치n칤. </p>

</div>




<div class="section" id="karticky">

  <p id="sectionnadpis"> Karti캜ky</p>
  <img id="sectionobr1" src="/images/lastsix_transparent.png" alt="Example Image">

  <div id="sectiontext">
      Aktivit치콏 disponuje p콏ehledem ned치vn칳ch aktivit zobrazen칳ch v m콏칤쬮e. Karti캜ky, kter칠 jsou obarveny do p콏칤slu코n칳ch barev podle kategorie, zobrazuj칤 kl칤캜ov칠 informace o dan칠 aktivit캩. Tato sekce slou쮂 pro rychl칳 n치hled do nejnov캩j코칤ch z치pis콢, p콏i캜em se콏azeny jsou od nejnov캩j코칤ch vlevo naho콏e po nejstar코칤 vpravo dole.
  </div>

</div>



<div class="section" id="grafy">

  <p id="sectionnadpis"> Grafy</p>


  <div id="sectiontext">
    <img id="sectionobr2" src="/images/graf.png" alt="Example Image">
    V sekci <i>statistiky</i> se zobrazuj칤 grafy va코ich aktivit, kter칠 vytv치콏칤 p콏ehledn캩j코칤 pohled na va코e aktivity. M콢쬰te si tak prohl칠dnout, zda se v치코 v칳kon za posledn칤 dobu zlep코uje, nebo je pot콏eba na sob캩 zapracovat. Grafy v치m umo쮄갓j칤 jednodu코e se porovnat s va코imi p콏치teli. 
  </div>

</div>



<div class="section" id="pratele">

  <p id="sectionnadpis"> P콏치tel칠</p>
  <div id="sectiontext">
    <img id="sectionobr3" src="/images/pratele.png" alt="Example Image">
    Aplikace umo쮄갓je p콏id치n칤 va코ich p콏치tel, se kter칳mi pot칠 lze porovn치v치t v칳kony a statistiky. T칤m se doc칤l칤 vz치jemn칠 motivace a kompetetivn칤 p콏edh치n캩n칤 o to, kdo m치 lep코칤 v칳sledky.
</div>
</div>




<div class="section" id="profil">

  <p id="sectionnadpis"> Profily</p>
  <div id="sectiontext">
    <img id="sectionobr4" src="/images/pratele.png" alt="Example Image">
    V aplikaci m콢쬰te prohl칤쬰t profily ostatn칤ch p콏치tel v p콏ehledn칠m okn캩. Na profilu u쬴vatele lze vid캩t jeho <i>Bio</i> spole캜n캩 s 코esti posledn칤mi z치znamy a zobrazen칤 grafu naposledy p콏idan칠 aktivity. Do sv칠ho <i>Bia</i> si m콢쬰 ka쬯칳 u쬴vatel napsat p치r bod콢 o sob캩 a sv칳ch kon칤캜c칤ch, 캜칤m m콢쬰 ostatn칤m o sob캩 n캩co 콏칤ci.
</div>
</div>





<div class="section" id="nastaveni">

  <p id="sectionnadpis"> Nastaven칤</p>
  <div id="sectiontext">
    <img id="sectionobr5" src="/images/pratele.png" alt="Example Image">
    Sekce nastaven칤 umo쬹uje u쬴vateli do programu zadat informace, jako v캩k, v칳코ka a v치ha, aby s nimi mohl d치le pracovat - nap콏칤klad pro v칳po캜et indexu BMI. 
</div>
</div>













<div class="autorisection" id="autori" style="display: flex; flex-direction: column; align-items: center;">

  <p id="autorinadpis"> Auto콏i</p>


    <p id= "autoritext1" style="text-align: center;">Autory projektu jsou Michal Bogdanov, Kry코tof Maxa a 말mon H치jek</p>

     <img style="text-align: center; width: 400px; height: auto; margin-top: 25px; margin-bottom: 25px;" src="/images/GAlogo.png" alt="logoGA">

    
  
</div>

<div class="copyright">
  <p id="autoritext2" style="text-align: center; ">
    <a style="color:rgb(20, 132, 236);" href="https://github.com/gyarab/2023-3e-aktivitar">https://github.com/gyarab/2023-3e-aktivitar</a>
</p>
  <p>춸 2024 - 2024 BoHaMA</p>
</div>
<div style="height: 50px;">

</div>
<!--<script src="/javascripts/confirmHandler.js"></script>-->
</body>
</html>
